---
import Layout from "../../layouts/Layout.astro"
const year = new Date().getFullYear()
---
<Layout title="GitCharts - GitHub Statistics">
  <footer class="text-center py-8">
    <p class="text-sm text-gray-500">
      {year} © Made with ❤️ by
        <a href="https://github.com/savioruz/" target="_blank"
           rel="noopener noreferrer"
           class="text-black dark:text-gray-100"
        >
          savioruz
        </a>
    </p>
    <div class="flex justify-center align-center gap-5 mt-5">
      <a href="https://trakteer.id/savioruz"target="_blank">
        <img id="wse-buttons-preview"
             src="/trakteer.png"
             style="border:0px;height:36px;"
             alt="Trakteer Saya" height="40"
        >
      </a>
    </div>
  </footer>
</Layout>
